<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
<link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
<link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">

<!-- SEO -->
<meta name="description" content="Undercover Electrical Prototype Website">

<!-- Open Graph (Facebook, Discord, LinkedIn) -->
<meta property="og:title" content="Undercover Electrical" />
<meta property="og:description" content="Undercover Electrical Website" />
<meta property="og:image" content="https://undercover-computing.github.io/undercoverelectrical/assets/images/logo.jpg" />
<meta property="og:url" content="https://undercover-computing.github.io/undercoverelectrical/" />
<meta property="og:type" content="website" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Undercover Electrical">
<meta name="twitter:description" content="Undercover Electrical Website">
<meta name="twitter:image" content="https://undercover-computing.github.io/undercoverelectrical/assets/images/logo.jpg">

<!-- end custom head snippets -->
